#include "register_classes.gen.h"
#include "runtime/value_convert.h"
#include <node.h>
#include <node_api.h>
#include <godot_cpp/classes/engine.hpp>

// Classes
{% for item in classes %}
#include "{{ item.include }}"
{% endfor %}

namespace gode {

void register_classes(Napi::Env env, Napi::Object exports) {
    // Register Classes
    {% for item in classes %}
    {{ item.class_name }}Binding::init(env, exports);
    {% endfor %}

    // Register Singletons
    {% for singleton in singletons %}
    {% if singleton.name == "EditorInterface" %}
    if (godot::Engine::get_singleton() && godot::Engine::get_singleton()->is_editor_hint()) {
    {% endif %}
    {
        auto getter_{{ singleton.name }} = [](const Napi::CallbackInfo &info) -> Napi::Value {
            godot::{{ singleton.type }}* instance = godot::{{ singleton.type }}::get_singleton();
            if (!instance) return info.Env().Null();
            return gode::wrap_godot_object(info.Env(), instance, "{{ singleton.binding_type }}");
        };
        if (!exports.Has("{{ singleton.name }}")) {
            exports.DefineProperty(Napi::PropertyDescriptor::Accessor(
                env, exports, "{{ singleton.name }}", getter_{{ singleton.name }}, napi_enumerable, nullptr
            ));
        }
    }
    {% if singleton.name == "EditorInterface" %}
    }
    {% endif %}
    {% endfor %}

    // Register singleton enum aliases as module-level runtime objects. The DTS
    // exposes these aliases because singleton instances cannot host namespaces.
    {% for enum in singleton_enum_aliases %}
    Napi::Object {{ enum.variable_name }} = Napi::Object::New(env);
    {% for value in enum['values'] %}
    {{ enum.variable_name }}.Set("{{ value['name'] }}", gode::godot_result_to_napi(env, {{ value['value'] }}));
    {{ enum.variable_name }}.Set(Napi::Number::New(env, {{ value['value'] }}), Napi::String::New(env, "{{ value['name'] }}"));
    {% endfor %}
    exports.Set("{{ enum.name }}", {{ enum.variable_name }});
    {% endfor %}
}

void reset_class_references() {
    {% for item in classes %}
    if (!{{ item.class_name }}Binding::constructor.IsEmpty()) {
        {{ item.class_name }}Binding::constructor.Reset();
    }
    {% endfor %}
}

} // namespace gode
