#include "register_classes.gen.h"
#include <node.h>
#include <node_api.h>

// Classes
{% for item in classes %}
#include "{{ item.include }}"
{% endfor %}

namespace gode {

void register_classes(Napi::Env env, Napi::Object exports) {
    // Register Classes
    {% for item in classes %}
    {{ item.class_name }}Binding::init(env, exports);
    {% endfor %}
}

} // namespace gode
